body {
	margin: 50px;
	font-family: 'Roboto', sans-serif;
	max-width: 800px;
	padding: 20px;
	margin: 40px auto;
}

.section {
	padding: 20px 0px;
	border-bottom: 1px dotted rgba(0,0,0,0.25);
}

.button {
	background-color: #339966;
	color: white;
	font-size: 18px;
	border: none;
	margin: 10px 0px;
	border-radius: 5px;
	padding: 10px;
	min-width: 80px;
}

.button:hover {
	background-color: #44cc77;
	cursor: pointer;
}

.small-text {
	font-size: 12px;
}

#api-key-input {
	width: 95%;
	line-height: 3;
	padding-left: 10px;
}

#query-data {
	width: 95%;
}
